<html>
    <head>
          <link rel="stylesheet" type="text/css" href="stylesheets/cadastroPostos.css" media="screen" /> 
            <script type="text/javascript" src="JS/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="JS/jquery.mask.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#cnpj").mask("00.000.000/0000-00")
                })
            </script>
    </head>
    <body>
        <form action="/efetuaCadastroPostos" method="POST" id="divCentral" >
            
             <h1>Cadastre seu <br> Estabelecimento </h1>
            
            <div class="inputs">
                <input type="text" name="nome" id="nome" placeholder="Nome do posto:" required>
            </div>
            
               
            <div class="inputs">
                <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ:" onchange="validarCNPJ()" required>
                
            </div>
            
            <div >
                <input type="file" name="foto" placeholder="Adicione aqui a foto da logo:">
            </div>
            
            <input id="button" type="submit" >
            
        </form>
    <script type="text/javascript" src="JS/cadastroPostos.js"></script>
    </body>
    

</html>
