<html>
    <head>
    </head>
    <body>
        <form action="/efetuaCadastroPostos" method="POST">
            <div class="inputs">
                <input type="text" name="nome" placeholder="Nome do posto:">
            </div>
            <div class="inputs">
                <input type="file" name="foto" placeholder="Adicione aqui a foto da logo:">
            </div>
            <div class="inputs">
                <input type="text" name="CNPJ" placeholder="CNPJ:">
            </div>
            <input type="submit">
        </form>
    </body>
</html>