<html>
    <head>
    </head>
    <body>
        <form action="" method="POST">
                <input type="text" name="nome" placeholder="Nome do posto:" required>
                <input type="file" name="foto" placeholder="Foto da logo do posto:" required>
                <input type="text" name="cnpj" placeholder="CNPJ:" required>
        </form>
    </body>
</html>