<html>
    <head>
    </head>
    <body>
            <form action="efetuaCadastroUsuario" method="POST">
                    <div class="inputs">
                        <input type="text" name="nome" placeholder="Nome completo:" required>
                    </div>
                    <div class="inputs">
                        <input type="text" name="email" placeholder="E-mail:" required>
                    </div>
                    <div class="inputs">
                        <input type="password" name="password" placeholder="Senha:" required>
                    </div>
                    <div class="inputs">
                        <input type="password" name="confirmPassword" placeholder="Confirme a sua senha:">
                    </div>
        
                    <div>
                        <button type="submit" id="button">Criar Conta</button>
                    </div>
                </form>
    </body>
</html>