<html>
    <head>
            <link rel="stylesheet" type="text/css" href="stylesheets/confirmaPedido.css" media="screen" /> 

    </head>
    <body>
            <form action="/efetuaPedido" method="POST" id="divCentral">

                <img src="images/logo-fundo-branco.png" id="img"><br>
                
                <h1>Confirme o pedido</h1>

                <h3>A gasolina será entregue em: <br> <%= datasetresult[0].local %> </h3>

                <h3>Com o valor de: <br>   </h3>

                <h3>E receberá exatamente:<br>  <%= datasetresult[0].litros %> Litros </h3> 

                <h3>Dentro de 30 minutos</h3>

                <div>
                    <button type="submit" id="button">Confirma?</button>
                </div>
            </form>
    </body>
</html>