<html>
    <head>
          <link rel="stylesheet" type="text/css" href="" media="screen" />
    </head>
    <body>
        <form action="/efetuaUploadImagem" method="POST" id="divCentral" enctype="multipart/form-data">
            <h1>Quase pronto...</h1>
            <div class="inputs">
                <input type="file" name="foto" placeholder="Escolha o arquivo:">
            </div>
            
            <input id="button" type="submit">
            
        </form>
    </body>
</html>