<html>

<head>
    <link rel="shortcut icon" href="images/logo.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/uploadImage.css" media="screen" />
    <script src="JS/teste.js"></script>
</head>

<body>
    <form action="/efetuaUploadImagem" method="POST" id="divCentral">
        <h1>Quase pronto...</h1>
        <img src="images/logo-fundo-branco.png" id="img"><br>

        <h2>Selecione uma imagem para seu posto:<h2>
                <div class="inputs">
                    <label id="file" for='type'>Selecionar</label>

                    <input type="file" name="foto" id="foto" placeholder="Escolha o arquivo:" onchange="Main()"/>

                    

                <input id="button" type="submit">

    </form>

    <h1 id="resultado"></h1>
</body>

</html>